* {
    padding: 3px;
}

.maindisplay {
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    flex-wrap:wrap;
}

.maindisplay > * {
    margin: 5px;
    padding: 20px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.board {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-column-gap: 20px;
    grid-row-gap: 7px;
    
}

.board > * {
    border: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    aspect-ratio: 1 / 1;
    width: 40px;
}

.boat {
    border: solid;
    border-color: black;
    border-width: 1px;
    margin: 5px;
    padding: 7px;
}

/* when div1 is hovered make div2 blue */
body:has(#c10:hover) #c11 {
  background-color: blue;
}

.boardtileplacement:hover,
.boardtileshiphov {
    background-color: green;
}
/*
.board > *:hover {
    background-color: greenyellow;
}
*/


.sidepanel > * {
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
}

.infopanel {
    min-height: 140px;
}